.Line {
  width: 4000px;
  margin-left: -2000px;
  height: 1px;
  background: $me;
  opacity: 0.25;
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
  position: fixed;
  z-index: -1;
}
@for $item from 1 through 3 {
  .Me-col:nth-child(#{$item}){
    .Line {
      height: #{$item*2}px;
    }
  }
}