.Me {
  min-height: 100vh;
  transition: padding 0.25s ease-in-out;
  padding: 15px;
  overflow: hidden;
}
.Me-col {
  padding: 15px;
}
@include media('lap-wide-up'){
  .Me {
    display: flex;
    align-items: stretch;
  }
  .Me-col {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 33.33%;
    &:last-child {
      justify-content: flex-end;
    }
  }
}