.Trooper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  perspective: 400;
}

$height: 160px;
$width: 80px;
$duration: 1.75s;
$color: #ea6153;

.divfig {
  height: $height;
  width: $width;
  position: relative;
  animation: jump $duration 0.5s infinite;
  transform: rotate3d(0.5, 1, 0, -25deg) translateY(0);
  transform-style: preserve-3d;
}
@keyframes jump {
  20%   {
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: rotate3d(0.5, 1, 0, -25deg) translateY(0);
  }
  50% {
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transform: rotate3d(0.5, 1, 0, -25deg) translateY(-100px);
  }
  80% {
    transform: rotate3d(0.5, 1, 0, -25deg) translateY(0);
  }
}
.divfig-shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  background: $color;
  width: $width;
  height: $width;
  transform: rotateX(90deg) translate3d(0,0,0);
  transform-origin: 100% 100%;

  background: rgb(50,15,15);
  filter: blur(8px);
  opacity: 0.60;

  animation: shadow $duration 0.5s infinite;
}
@keyframes shadow {
  20%   {
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: rotateX(90deg) translate3d(0,0,0) scale(1);
    opacity: 0.6;
  }
  50% {
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transform: rotateX(90deg) translate3d(0,0,-100px) scale(0.75);
    border-radius: 25%;
    opacity: 0.15;
  }
  80% {
    transform: rotateX(90deg) translate3d(0,0,0) scale(1);
    opacity: 0.6;
  }
}
.divfig-front, .divfig-side {
  position: absolute;
  bottom: 0;
  left: 0;
  height: $height;
  width: $width;
  background: $color;
  animation: spring $duration 0.5s infinite;
  transform-origin: 200px 200px;
}
.divfig-side {
  background: linear-gradient(to right, lighten($color, 2%), $color, 45);
  transform: rotateY(270deg);
  transform-origin: 100% 0%;
}
.divfig-top {
  position: absolute;
  top: 0;
  left: 0;
  background: $color;
  width: $width;
  height: $width;
  animation: hat $duration 0.5s infinite;
  transform: rotateX(-90deg) translate3d(0,0,0);
  transform-origin: 100% 0%;
}
@keyframes hat {
  0%   {
    top: 0;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  20% {
    top: 25px;
    animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  }
  50% {
    top: - 30px;
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }
  80% {
    top: 10px;
    animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  }
  95% {
    top: 0;
  }
}
@keyframes spring {
  0%   {
    height: $height;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  20% {
    height: $height - 25px;
    animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  }
  50% {
    height: $height + 30px;
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }
  80% {
    height: $height - 10px;
    animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  }
  95% {
    height: $height;
  }
}
.divfig-eyes {
  animation: eyes $duration 0.5s infinite;
  z-index: 10;
  &:before {
    content: "";
    background: white;
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 50px;
  }
   &:after {
    content: "";
    background: white;
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 50px;
  }
}
.divfig-mouth {
  background: white;
  position: absolute;
  left: $width / 2 - 12px;
  height: 16px;
  width: 24px;
  top: 40px;
  border-radius: 15% 15% 75% 75%;
  animation: mouth $duration 0.5s infinite;
}
@keyframes mouth {
  0%   {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  10% {
    left: $width / 2 - 16px;
    width: 32px;
    border-radius: 15% 15% 75% 75%;
  }
  40% {
    transform: translateY(10px);
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    filter: blur(0px);
    border-radius: 50% 50% 75% 75%;
    width: 20px;
    left: $width / 2 - 10px;
  }
  70% {
    left: $width / 2 - 16px;
    width: 32px;
    border-radius: 15% 15% 75% 75%;
  }
  80% {
    transform: translateY(0px);
    filter: blur(0px);
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}
@keyframes eyes {
  0%   {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  40% {
    transform: translateY(20px);
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    filter: blur(0px);
  }
  80% {
    transform: translateY(0px);
    filter: blur(0px);
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}
