{% extends "layout.twig" %}
{% block scripts %}
  <script src="assets/js/scripts.min.js"></script>
{% endblock %}
{% block page %}
<div class="Diagram">
  <h1 class="Diagram-label">How I design</h1>
  <div class="Diagram-bars">
    <div class="Diagram-bar Diagram-bar--stripes Diagram-bar--3of10">
      <div class="Diagram-bar-label">Pen n' paper</div>
    </div>
    <div class="Diagram-bar Diagram-bar--dotted Diagram-bar--5of10">
      <div class="Diagram-bar-label">Sketch</div>
    </div>
    <div class="Diagram-bar Diagram-bar--solid Diagram-bar--10of10">
      <div class="Diagram-bar-label">Browser</div>
    </div>
  </div>
  <div class="Diagram-description">
    <p>Nulla vel nulla mi. Nam tristique quam sed vehicula volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed dictum vulputate quam. Vestibulum scelerisque tincidunt augue, quis aliquam augue viverra et.</p>
  </div>
</div>
<div class="Diagram">
  <h1 class="Diagram-label">What I code</h1>
  <div class="Diagram-bars">
    <div class="Diagram-bar Diagram-bar--stripes Diagram-bar--2of10">
      <div class="Diagram-bar-label">PhP</div>
    </div>
    <div class="Diagram-bar Diagram-bar--dotted Diagram-bar--5of10">
      <div class="Diagram-bar-label">HTML / CSS</div>
    </div>
    <div class="Diagram-bar Diagram-bar--dotted Diagram-bar--5of10">
      <div class="Diagram-bar-label">JavaScript</div>
    </div>
    <div class="Diagram-bar Diagram-bar--solid Diagram-bar--10of10">
      <div class="Diagram-bar-label">Neat stuff</div>
    </div>
  </div>
  <div class="Diagram-description">
    <p>Nam tristique quam sed vehicula volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed dictum vulputate quam. Vestibulum scelerisque tincidunt augue, quis aliquam augue viverra et.</p>
  </div>
</div>
<div class="Diagram">
  <h1 class="Diagram-label">Booring stuff</h1>
  <div class="Diagram-bars">
    <div class="Diagram-bar Diagram-bar--stripes Diagram-bar--10of10">
      <div class="Diagram-bar-label">Drupal</div>
    </div>
  </div>
  <div class="Diagram-description">
    <p>In faucibus orci luctus et ultrices posuere cubilia Curae; Sed dictum vulputate quam. Vestibulum scelerisque tincidunt augue, quis aliquam augue viverra et.</p>
  </div>
</div>
<div class="Diagram">
  <h1 class="Diagram-label">Chance of<br> fuckin' up</h1>
  <div class="Diagram-bars">
    <div class="Diagram-bar Diagram-bar--stripes Diagram-bar--1of10">
      <div class="Diagram-bar-label">By yourself</div>
    </div>
    <div class="Diagram-bar Diagram-bar--solid Diagram-bar--10of10">
      <div class="Diagram-bar-label">When everybody is watching</div>
    </div>
  </div>
  <div class="Diagram-description">
    <p>Nulla vel nulla mi. Nam tristique quam sed vehicula volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed dictum vulputate quam. Vestibulum scelerisque tincidunt augue, quis aliquam augue viverra et.</p>
  </div>
</div>
{% endblock %}