{% extends "layout.twig" %}
{% block page %}
<div class="Me">
  <header class="Me-col Me-col--introduction">
    <div class="Line"></div>
    <h1>I<br> <span class="color">design</span> <br>and <br><span class="color">code</span> <br>for <br>the <br>modern <br>web</h1>
  </header>
  <div class="Me-col Me-col--information">
    <div class="Line"></div>
    <h1>2</h1>
    <p>My name is Daniel Farsi and I'm an interactive designer with a background in front-end development. I work to create rich and engaging digital experiences. I play around sometimes to make something new and exciting.</p>
    <h2>Activity</h2>
    <p><a href="https://www.youtube.com/watch?v=QDVsV2cdRLY">Talk about design in the browser</a></p>
    <h2>Footprints</h2>
    <ul>
      <li><a class="Me-list-item-link" href="https://dribbble.com/herrfarsi">Dribbble</a></li>
      <li><a class="Me-list-item-link" href="http://codepen.io/herrfarsi/">Codepen</a></li>
      <li><a class="Me-list-item-link" href="https://se.linkedin.com/in/danielfarsi">LinkedIn</a></li>
    </ul>
  </div>
  <footer class="Me-col Me-col--individual">
    <div class="Line"></div>
    <h1>3</h1>
    <img width="807" height="1080" src="/assets/img/daniel.jpg">
    <p><a href="mailto:farsidaniel@gmail.com">Mail me</a></p>
  </footer>
</div>
{% endblock %}