{% extends "layout.twig" %}
{% block page %}

<div class="Me">
  <header class="Me-col Me-col--introduction">
    <div class="Me-col-line"></div>
    <h1>I<br> <span class="color">design</span> <br>and <br><span class="color">code</span> <br>for <br>the <br>modern <br>web</h1>
  </header>
  <div class="Me-col Me-col--information">
    <div class="Me-col-line"></div>
    <h1>2</h1>
    <p>A dedicated graphic designer with a cutting edge front-end toolbox that likes to wander off into unknown territory to find the right solutions.</p>
    <p>I thrive in groups with talented, creative people and love to learn new things and further develop my understanding of graphic design through them. Keep scrolling to find out more!</p>
    <h2>Activity</h2>
    <p><a href="https://www.youtube.com/watch?v=QDVsV2cdRLY">Talk about design in the browser</a></p>
    <h2>Networks</h2>
    <ul>
      <li><a class="Me-list-item-link" href="https://dribbble.com/herrfarsi">Dribbble</a></li>
      <li><a class="Me-list-item-link" href="http://codepen.io/herrfarsi/">Codepen</a></li>
      <li><a class="Me-list-item-link" href="https://se.linkedin.com/in/danielfarsi">LinkedIn</a></li>
    </ul>
  </div>
  <footer class="Me-col Me-col--individual">
    <div class="Me-col-line"></div>
    <h1>3</h1>
    <img width="807" height="1080" src="/assets/img/daniel.jpg">
    <p><a href="mailto:farsidaniel@gmail.com">Mail me</a></p>
  </footer>
</div>

{% endblock %}
