{% extends "layout.twig" %}
{% block page %}

<div class="Trooper">
  <div class="divfig">
    <div class="divfig-shadow"></div>
    <div class="divfig-front">
      <div class="divfig-eyes"></div>
      <div class="divfig-mouth"></div>
    </div>
    <div class="divfig-side"></div>
    <div class="divfig-top"></div>
  </div>
</div>

{% endblock %}